// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@font-face {
    font-family:'score1';
    font-weight: 100;
    src: url('assets/font/SCDream1.otf') format('truetype');    
}
@font-face {
    font-family:'score2';
    font-weight: 200;
    src: url('assets/font/SCDream2.otf') format('truetype');    
}
@font-face {
    font-family:'score3';
    font-weight: 300;
    src: url('assets/font/SCDream3.otf') format('truetype');    
}
@font-face {
    font-family:'score4';
    font-weight: 400;
    src: url('assets/font/SCDream4.otf') format('truetype');    
}
@font-face {
    font-family:'score5';
    font-weight: 500;
    src: url('assets/font/SCDream5.otf') format('truetype');    
}
@font-face {
    font-family:'score6';
    font-weight: 600;
    src: url('assets/font/SCDream6.otf') format('truetype');    
}
@font-face {
    font-family:'score7';
    font-weight: 700;
    src: url('assets/font/SCDream7.otf') format('truetype');    
}
@font-face {
    font-family:'score8';
    font-weight: 800;
    src: url('assets/font/SCDream8.otf') format('truetype');    
}
@font-face {
    font-family:'score9';
    font-weight: 900;
    src: url('assets/font/SCDream9.otf') format('truetype');    
}